mixin header()
    section#header
        a(href="/qbitbaka")
            img(src="/assets/images/qbit/qbittorrent-tray-dark.png")
        a(href="/chewyroll")
            img(src="/assets/images/crunchyroll_logo_vertical.png")
