include ../util/header

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(property="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        title qBitBaka - Error

        link(rel="stylesheet", type="text/css", href="/assets/css/util/header.css")
    body
        +header
        section#main
            h1 An Error Occurred!
