include ../util/header

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(property="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        title qBitBaka - Login

        link(rel="stylesheet", type="text/css", href="/assets/css/util/header.css")
        link(rel="stylesheet", type="text/css", href="/assets/css/root/login.css")
        script(src="/assets/js/root/login.js")
    body
        +header
        section#main
            h1 qBitBaka
            p Login Page
