include ../util/header.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(property="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        title qBitBaka - qBit

        link(rel="stylesheet", type="text/css", href="/assets/css/util/header.css")
        link(rel="stylesheet", type="text/css", href="/assets/css/qbit/index.css")
        script(src="/assets/js/qbit/index.js")
    body
        +header
        section#main
        h1 qBit
